.nav__logo {
  width: 66px;
  height: 40px;
  object-fit: contain;
  position: fixed;
  left: 0;
}
.nav__avatar {
  height: 35px;
  height: 35px;
  object-fit: contain;
  position: fixed;
  right: 20px;
}
.nav {
  display: flex;
  position: fixed; /*is sticked to top */
  top: 0;
  width: 100%;
  z-index: 1;
  justify-content: space-between;
  padding: 10px;
  height: 30px;

  /*Animation */
  transition-timing-function: ease-in;
  transition: all 0.5s;
}
.nav__black {
  background-color: #111;
}
